<br><br>

<div class="card border-primary mb-3">
  <div class="card-header">{{tituloCitas}}</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <!-- <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Odontologo</th>
          <th>Valor</th>
          <th>Fecha Cita</th>
          <th>
            Eliminar
          </th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let item of listaCitas | async">
          <td>{{item.id}}</td>
          <td>{{item.nombre}}</td>
          <td>{{item.odontologo}}</td>
          <td>{{item.valor}}</td>
          <td>{{item.fechaCreacion}}</td>
          <td>
            <button type="button" (click)='eliminarCita(item)' class="btn btn-danger">eliminar</button>
          </td>
        </tr>
      </tbody>


    </table> -->

    <p class="card-text">Clientes pendientes de citas.</p>
  </div>
</div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Odontologo</th>
      <th>Valor</th>
      <th>Fecha Cita</th>
      <th>
        Eliminar
      </th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let item of listaCitas | async">
      <td>{{item.id}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.odontologo}}</td>
      <td>{{item.valor}}</td>
      <td>{{item.fechaCreacion}}</td>
      <td>
        <button type="button" (click)='eliminarCita(item)' class="btn btn-danger">eliminar</button>
      </td>
    </tr>
  </tbody>


</table>