<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" id="linkPersona" routerLink="./">persona</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#" id="linkCrearPersona" routerLink="./crear">Crear persona</a>
        <a class="nav-item nav-link" href="#" id="linkListarPersona" routerLink="./listar">listar persona</a>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
