/* .abs-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .form {
    width: 600px;
  } */

  div.card {
    max-width: 35rem;
    margin: 0 auto;
}